@font-face {
  font-family: "Raleway";
  src: url("Font/Font_Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 1340px;
  margin: auto;
  font-family: "Raleway";
}
input::placeholder {
  color: black;
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.8rem;
  color: black;
}
p {
  font-size: 0.6rem;
  color: black;
}
.search h1 + p {
  font-size: 0.8rem;
}
li {
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
.header_nav a {
  color: #0065fc;
}
#activites {
  color: black;
}
.lodging_star_ico,
.most_star_ico {
  color: #0065fc;
  font-size: 0.5rem;
}
.span_ico_star {
  color: #f2f2f2;
  font-size: 0.5rem;
}
.filters h3 {
  font-size: 1rem;
}
.span_filters {
  padding-left: 10px;
}
.fa-child {
  width: 18px;
  text-align: center;
}
.info {
  margin-top: 10px;
}
.info p {
  font-weight: bold;
  font-size: 0.9em;
}
.info i {
  width: 16px;
  padding: 0.6em;
  height: 17px;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  color: #0065fc;
  margin-right: 15px;
}
.filters i {
  border: 13px solid #deebff; /*penser a affiner la taille de la bordure pour ico billet */
  border-radius: 20px;
  background-color: #deebff;
  color: #0065fc;
  font-size: 1em;
  margin-top: -2px;
  margin-left: -18px;
}

.header_nav a:hover {
  border-top: 0.16rem solid #0065fc;
  padding-top: 0.5rem;
}
.header_nav ul {
  display: flex;
  list-style-type: none;
}
.header_nav li {
  margin-left: 4rem;
}
.search {
  display: flex;
  flex-direction: column;
}
.search h1 + p {
  margin-top: -10px;
}
.form_search {
  margin-top: 10px;
}
#submit {
  border: 0.9rem solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  color: white;
  position: relative;
  left: -7px;
  top: -2px;
}
#ville {
  width: 175px;
  height: 41px;
  border-style: none;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding-left: 10px;
  position: relative;
  left: -4px;
  top: -2px;
  font-weight: bold;
}
.fa-map-marker-alt {
  border: 0.96rem solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
}
.filters {
  margin-top: 15px;
  display: flex;
  justify-content: left;
  align-items: baseline;
}
.filters input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  margin-right: 2rem;
}
.filters label:hover {
  background-color: #deebff;
}
.filters label {
  height: 2.4em;
  border: 2px solid #f2f2f2;
  border-left: none;
  border-radius: 10px 20px 20px 10px;
  background-color: transparent;
  font-weight: bold;
  padding-right: 30px;
}
.section_lodging {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.lodging {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  border: solid 20px #f2f2f2;
  border-radius: 20px;
  background-color: #f2f2f2;
}
.lodging_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lodging_card div {
  width: 30%;
  height: 40%;
}
.lodging_card figure {
  margin: auto;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 3px 3px 5px grey, -3px -3px 5px grey;
}
.lodging_card img {
  width: 100%;
  height: 65%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.lodging_card figcaption {
  height: 30%;
  margin-top: -10px;
  margin-left: 10px;
}
.lodging_nuit {
  margin-top: -10px;
}
.most_nuit {
  margin-top: -10px;
}
#more a {
  color: black;
}
.most_pop {
  width: 25%;
  display: flex;
  flex-direction: column;
  border: 20px solid #f2f2f2;
  border-radius: 20px;
  background-color: #f2f2f2;
}
.soleil_matin,
.coeur_eau,
.bleu_blanc {
  height: 25%;
  margin-bottom: auto;
}
.most_pop figure {
  display: flex;
  width: 100%;
  height: 95%;
  border: 3px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 3px 3px 5px grey, -3px -3px 5px grey;
  margin: auto;
}
.most_pop img {
  width: 40%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}
.most_pop figcaption {
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
  text-align: left;
  margin-left: 10px;
  color: black;
}
.most_star_ico {
  padding-top: 55px;
}
.coeur_eau .most_star_ico {
  padding-top: 40px;
}
.titre_icone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 70px;
}

.activity_cards {
  margin: 0%;
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: space-between;
}
.vieux_port,
.calanques {
  width: 23%;
  margin-right: 0%;
}
.left_2,
.right_2 {
  margin-right: 0%;
  width: 23%;
  display: flex;
  flex-direction: column;
}
.frioul,
.longchamp {
  margin: 0%;
  height: 50%;
}
.activity_cards figure {
  margin: 0%;
  width: 100%;
  height: 90%;
}
.activity_cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  box-shadow: 3px 0px 5px grey, -3px -3px 5px grey;
}
.activity_cards figcaption {
  border-radius: 0 0 20px 20px;
  box-shadow: 3px 3px 5px grey, -3px 0px 5px grey;
  font-size: 0.8em;
  padding-left: 10px;
  font-weight: bold;
  padding-top: 5px;
  margin-top: -4px;
}
.pomegues {
  margin: 0%;
  height: 60%;
}
.pomegues figure {
  height: 90%;
}
.frioul figure {
  height: 54%;
  margin-top: 14%;
}
.notre_dame {
  margin: 0%;
  height: 42%;
}
.notre_dame figure {
  height: 100%;
}
.longchamp figure {
  height: 100%;
  margin-top: 17%;
}
.pomegues img {
  height: 85%;
}
.frioul img {
  height: 80%;
}
.notre_dame img {
  height: 70%;
}
.longchamp img {
  height: 75%;
}
.activity h3 {
  padding-bottom: 15px;
}

footer {
  background-color: #f2f2f2;
  width: 1420px;
  position: relative;
  left: -200px;
}
footer nav {
  display: flex;
  justify-content: left;
  margin-left: 160px;
}
footer ul {
  margin-right: 150px;
}
footer a {
  color: black;
}
footer h2 {
  font-size: 0.9em;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin-top: 15px;
}
@media screen and (min-width: 1023px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  main {
    min-width: 1023px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    max-width: 1023px;
  }
}
@media all and (max-width: 767px) {
  body {
    max-width: 766px;
  }
}
@media screen and (max-width: 374px) {
  body {
    max-width: 373px;
  }
}
