@font-face {
  font-family: "Raleway";
  src: url("Font/Font_Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 1200px;
  margin: auto;
  font-family: "Raleway";
}
/*
@media all and (max-width: 1200px) {
  body {
  }
}
*/
input::placeholder {
  color: black;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1em;
  color: black;
}
p {
  font-size: 0.8em;
}
li {
  font-size: 0.9em;
}
a {
  text-decoration: none;
}
.star_ico {
  color: #0065fc;
}
.span_ico_star {
  color: #f2f2f2;
}
header a {
  color: #0065fc;
}
header a:hover {
  border-top: 3px solid #0065fc;
  padding-top: 15px;
}
#activités {
  color: black;
}
header {
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
}
header li {
  margin-left: 60px;
}
.search {
  display: flex;
  flex-direction: column;
}
.search h1 + p {
  margin-top: -10px;
}
.form_search {
  margin-top: 10px;
}
#submit {
  border: 13px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  color: white;
  position: relative;
  left: -6px;
  top: -2px;
}
#ville {
  width: 175px;
  height: 41px;
  border-style: none;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding-left: 10px;
  position: relative;
  left: -3px;
  top: -2px;
  font-weight: bold;
}
.fa-map-marker-alt {
  border: 15px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
}
.filters {
  margin-top: 15px;
  display: flex;
  justify-content: left;
  align-items: baseline;
}
.filters_input {
  width: 800px; /* attention width 800px déclaré */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 20px;
}
.filters input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
.filters label:hover {
  background-color: #deebff;
}
.filters_input label {
  height: 2.4em;
  border: 2px solid #f2f2f2;
  border-left: none;
  border-radius: 10px 20px 20px 10px;
  background-color: transparent;
  font-weight: bold;
  padding-right: 30px;
}
.filters i {
  border: 13px solid #deebff; /*penser a affiner la taille de la bordure pour ico billet */
  border-radius: 20px;
  background-color: #deebff;
  color: #0065fc;
  font-size: 1em;
  margin-top: -2px;
  margin-left: -18px;
}
.span_filters {
  padding-left: 10px;
}
.fa-child {
  width: 18px;
  text-align: center;
}
.info {
  margin-top: 10px;
}
.info p {
  font-weight: bold;
  font-size: 0.9em;
}
.info i {
  width: 16px;
  padding: 0.6em;
  height: 17px;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  color: #0065fc;
  margin-right: 15px;
}
.section_lodging {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.lodging {
  display: flex;
  flex-direction: column;
  width: 710px;
  justify-content: space-between;
  padding-left: 20px;
  border: solid 20px #f2f2f2;
  border-radius: 20px;
  background-color: #f2f2f2;
}
.lodging_card {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
}
.cannebiere,
.port,
.mouettes,
.mer,
.panier,
.amina {
  width: 200px;
  margin: auto;
  padding-right: 48px;
  padding-top: 40px;
  margin-top: 20px;
}
.lodging_card figure {
  width: 200px;
  height: 160px;
  margin: auto;
  border: 3px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 3px 3px 5px grey, -3px -3px 5px grey;
}
.lodging_card img {
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.lodging_card figcaption {
  font-size: 0.85em;
  text-align: left;
  margin-top: -10px;
  margin-left: 10px;
  color: black;
}
#more a {
  color: black;
}
#more {
  padding-top: 20px;
}
.most_pop {
  width: 360px;
  display: flex;
  flex-direction: column;
  border: 20px solid #f2f2f2;
  border-radius: 20px;
  background-color: #f2f2f2;
}
.most_pop figure {
  display: flex;
  width: 350px;
  height: 130px;
  border: 3px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 3px 3px 5px grey, -3px -3px 5px grey;
  margin-left: auto;
}
.most_pop img {
  width: 50%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}
.most_pop figcaption {
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
  text-align: left;
  margin-left: 10px;
  color: black;
}
.titre_icone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 40px;
}
.activity_cards {
  display: flex;
  justify-content: space-between;
}
.left_3 {
  width: 550px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.right_3 {
  width: 550px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.left_2 {
  width: auto;
  height: 378px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right_2 {
  height: 378px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activity_cards img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  box-shadow: 3px 0px 5px grey, -3px -3px 5px grey;
}
.activity_cards figcaption {
  border-radius: 0 0 20px 20px;
  box-shadow: 3px 3px 5px grey, -3px 0px 5px grey;
  margin-top: -4px;
  font-size: 0.8em;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  padding-bottom: 5px;
}
.vieux_port figure,
.calanques figure {
  margin: auto;
  width: 220px;
  height: 378px;
}
.vieux_port img,
.calanques img {
  width: 100%;
  height: 85%;
}
.pomegues figure {
  margin: auto;
  width: 220px;
  height: 180px;
}
.frioul figure {
  margin: auto;
  padding-bottom: 38px;
  width: 220px;
  height: 100px;
}
.notre_dame figure {
  margin: auto;
  width: 220px;
  height: 130px;
}
.longchamp figure {
  margin: auto;
  width: 220px;
  height: 170px;
  padding-bottom: 24px;
}
footer {
  margin-left: -100px;
  background-color: #f2f2f2;
  width: 1400px;
}
.liste {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  padding-left: 65px;
}
footer a {
  color: black;
}
footer h2 {
  font-size: 0.9em;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin-top: 15px;
}
