/* Parametres généraux */
@font-face {
  font-family: "Raleway";
  src: url("Font_Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}
main {
  width: 95%;
  margin: auto;
}
.search h1 + p {
  margin-top: -0.63rem;
}
a {
  text-decoration: none;
  color: black;
}
.span_ico_star {
  color: #f2f2f2;
}
.lodging_card_star_ico,
.most_pop_card_star_ico {
  color: #0065fc;
  font-size: 0.8rem;
}
article:hover {
  box-shadow: 3px 3px 5px grey, -3px -3px 5px grey;
}
img {
  object-fit: cover;
}

/* Parametres Header */
header {
  box-sizing: border-box;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header p {
  width: 60%;
  height: 10%;
}
header a {
  color: #0065fc;
}
#activites {
  color: black;
}
.header_nav a:hover {
  border-top: 0.16rem solid #0065fc;
  padding-top: 0.5rem;
}
#inscrire:hover {
  border: 0;
}
.header_nav {
  width: 30%;
}
.header_nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.header_nav li {
  width: 50%;
  text-align: center;
}
/* Parametres section search */
.search {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  align-items: center;
}
/* Parametres barre de recherche */
.fa-map-marker-alt {
  border: solid #f2f2f2;
  border-width: 1rem 1.3rem 1rem 1rem;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
  height: 1rem;
  padding-left: 0.5rem;
}
#ville {
  width: 10rem;
  height: 3rem;
  border-style: none;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding-left: 0.63rem;
  font-weight: bold;
}
#ville:focus {
  /* a voir si possible pour question d'accessibilité */
  outline: none;
}
input::placeholder {
  color: black;
}
.submit {
  border: 0.93rem solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  color: white;
}
/* permet de cacher l'icone recherche jusqu'au mode smartphone  */
.fa-search {
  visibility: hidden;
}
/* Parametres des filtres */
.span_filters {
  padding-left: 0.63rem;
}
.fa-child {
  width: 1.1rem;
  text-align: center;
}
.filters p {
  font-size: 1.17rem;
  font-weight: bold;
  margin-right: 1rem;
}
.filters {
  margin-top: 0.94rem;
  display: flex;
  justify-content: left;
  align-items: baseline;
}
.filters i {
  border: 13px solid #deebff;
  border-radius: 20px;
  background-color: #deebff;
  color: #0065fc;
  font-size: 1em;
  margin-top: -0.13rem;
  margin-left: -0.38rem;
}
.filters input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  margin-right: 3rem;
  visibility: hidden; /* important pour case à cocher sur iphone et ipad */
}
.filters_input {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.filters label:hover {
  background-color: #deebff;
}
.filters label {
  height: 2.4rem;
  border: 2px solid #f2f2f2;
  border-left: none;
  border-radius: 10px 20px 20px 10px;
  background-color: transparent;
  font-weight: bold;
  padding-right: 0.94rem;
}
/* Parametres bloc logo info + texte */
.info {
  display: flex;
  margin-top: 0.63rem;
  align-items: center;
}
.info p {
  font-weight: bold;
}
.info i {
  width: 1rem;
  padding: 0.5em;
  margin-right: 1rem;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #0065fc;
}
/* Parametres du bloc section Lodging + most_pop */
.section_lodging {
  margin-top: 0.63rem;
  display: flex;
  justify-content: space-between;
}
/* Parametres section Lodging */
.lodging {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 67%;
  border: solid 20px #f2f2f2;
  border-radius: 20px;
  background-color: #f2f2f2;
}
.lodging_card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}
.lodging_card article {
  width: 31%;
  margin: 0;
  height: 35%;
  border: 4px solid white;
  border-radius: 20px;
  background-color: white;
}
.lodging_card figure {
  margin: auto;
  height: 60%;
  border-radius: 20px 20px 0 0;
}
.lodging_card img {
  width: 100%;
  height: 95%;
  border-radius: 20px 20px 0 0;
}
.lodging_card_legend {
  height: 42%;
  margin: 0;
  background-color: white;
  border-radius: 0 0 20px 20px;
}
.lodging_card_titre,
.lodging_card_nuit {
  margin: 0;
}
.lodging_card_star_ico {
  margin-top: 0.6rem;
}
.lodging_card_titre,
.lodging_card_nuit,
.lodging_card_star_ico {
  margin-left: 0.1rem;
}
#more a {
  color: black;
}
/* Parametres section most_pop */
.most_pop {
  box-sizing: border-box;
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 20px solid #f2f2f2;
  border-radius: 20px;
  background-color: #f2f2f2;
}
.titre_icone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.most_pop article {
  width: 100%;
  height: 18%;
  border: 4px solid white;
  border-radius: 20px;
  background-color: white;
  margin: auto;
}
.most_pop figure {
  float: left;
  width: 40%;
  height: 100%;
  margin: 0;
}

.most_pop img {
  width: 90%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}
.most_pop_card_legend {
  width: auto;
  height: 100%;
  border: 3px solid white;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  margin: 0;
}
.most_pop_card_titre {
  margin: 0;
}
.most_pop_card_nuit {
  margin: 0;
}
.most_pop_card_star_ico {
  margin-top: 1.5rem;
}

/* Parametre section activity */
.activity {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.88rem;
  margin-bottom: 3.75rem;
}
.activity_cards {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: space-between;
}
.vieux_port,
.calanques {
  width: 23%;
}
.left_2,
.right_2 {
  width: 23%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}
.activity_cards figure {
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 3px 0px 5px #f2f2f2, -3px -3px 5px #f2f2f2;
}
.activity figure:hover {
  box-shadow: 3px 3px 5px grey, -3px -3px 5px grey;
}
.activity_cards img {
  width: 100%;
  height: 91%;
  border-radius: 20px 20px 0 0;
}
.activity_cards figcaption {
  border-radius: 0 0 20px 20px;
  padding-left: 0.63rem;
  margin-top: -0.31rem;
}
.activity h3 {
  margin: 0;
  padding-top: 0.5rem;

  padding-bottom: 0.94rem;
}
.pomegues {
  margin: 0;
  height: 50%;
}
.pomegues figure {
  height: 100%;
}
.pomegues img {
  height: 82%;
}
.frioul {
  margin: 0;
  margin-top: 0;
  height: 40%;
}
.frioul figure {
  height: 100%;
}
.frioul img {
  height: 78%;
}
.notre_dame {
  margin: 0;
  height: 42%;
}
.notre_dame figure {
  height: 100%;
}
.notre_dame img {
  height: 78%;
}
.longchamp {
  margin: 0;
  height: 45%;
}
.longchamp figure {
  height: 100%;
}
.longchamp img {
  height: 80%;
}
/* Parametres footer */
footer {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0;
}
footer nav {
  display: flex;
  width: 95%;
  margin: auto;
}
footer ul {
  margin-right: auto;
}
footer a {
  color: black;
}

footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  margin-top: 0.94rem;
}
@media screen and (min-width: 1700px) {
  body {
    max-width: 1800px;
    margin: 30px auto;
    box-shadow: -5px -5px 5px #f2f2f2, 5px 5px 5px 5px black;
    border-radius: 20px 20px 20px 20px;
  }
  footer {
    border-radius: 0 0 20px 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1216px) {
  .lodging_card h3 {
    font-size: 1.03rem;
  }
  .most_pop_card_legend h3 {
    font-size: 1.03rem;
  }
  .activity_cards h3 {
    font-size: 1rem;
  }
}
/* Parametres responsive petits ecrans et tablettes */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .filters {
    flex-direction: column;
    align-items: initial;
  }
  .filters_input {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: left;
  }
  .section_lodging {
    flex-direction: column-reverse;
  }
  .most_pop {
    width: auto;
    height: 40rem;
  }
  .most_pop article {
    height: 25%;
    margin: auto;
  }
  .most_pop figure {
    height: 100%;
    width: 60%;
  }
  .most_pop_legend {
    height: 100%;
  }
  .lodging {
    width: 100%;
    height: 45rem;
    margin-top: 1.25rem;
  }
  .activity {
    height: 31.25rem;
    margin-bottom: 1.26rem;
  }
  .activity_cards img {
    height: 87%;
  }
  .pomegues img {
    height: 75%;
  }
  .frioul img {
    height: 67%;
  }
  .notre_dame img {
    height: 70%;
  }
  .longchamp img {
    height: 70%;
  }
  .activity_cards h3 {
    font-size: 1.1rem;
  }
}
/* Parametres responsive smartphone */
@media screen and (max-width: 768px) {
  main {
    width: 90%;
  }
  header {
    width: 100%;
    flex-wrap: wrap;
  }
  header p {
    padding-left: 1rem;
  }
  .header_nav {
    width: 100%;
    order: 3;
  }
  .header_nav ul {
    width: 100%;
  }
  .header_nav li {
    width: 100%;
    border-bottom: 3px solid #f2f2f2;
    height: 2rem;
  }
  .header_nav li:hover {
    border-bottom: 3px solid #0065fc;
  }
  .header_nav a:hover {
    border-top: 0;
  }
  #inscrire {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: auto;
  }
  /* important permet de faire disparaitre le bouton rechercher */
  #bt_search {
    display: none;
  }
  /* important rend visible le bouton loupe */
  .fa-search {
    visibility: visible;
  }
  #ville {
    width: 70%;
  }
  .submit {
    border: solid #0065fc;
    border-width: 15px 12px;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065fc;
    color: white;
    margin-left: -0.3rem;
  }
  .filters {
    flex-direction: column;
    align-items: initial;
  }
  .filters_input {
    display: flex;
    flex-wrap: wrap;
  }
  .filters label {
    margin-bottom: 1rem;
  }
  .filters input {
    margin-right: auto;
  }
  .section_lodging {
    flex-direction: column-reverse;
  }
  .lodging {
    margin-top: 0.63rem;
    width: auto;
    height: auto;
    background-color: initial;
    border: 0;
  }
  .lodging_card {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    margin-top: 0.63rem;
    width: 100%;
  }
  .lodging_card article {
    width: 95%;
    height: 13rem;
    margin-bottom: 1.5rem;
    box-shadow: 3px 3px 5px #f2f2f2, -3px -3px 5px #f2f2f2;
  }
  .lodging_card article:hover {
    box-shadow: 3px 3px 5px grey, -3px -3px 5px grey;
  }
  .lodging_card figure {
    height: 65%;
  }
  .lodging_card img {
    height: 95%;
  }
  .lodging_card_legend {
    height: 37%;
  }
  .lodging_nuit {
    padding-left: 1rem;
    margin-top: -0.8rem;
  }
  .lodging_star_ico {
    padding-left: 1rem;
    margin-top: -0.5rem;
    font-size: 0.8rem;
  }
  .span_ico_star {
    font-size: 0.8rem;
  }
  .most_pop {
    width: 110%;
    height: 40rem;
    border-radius: 0;
    margin-left: -1.25rem;
  }
  .most_pop article {
    margin: 0;
    width: 95%;
    height: 9rem;
  }
  .most_pop_card_star_ico {
    margin-top: 3.5rem;
  }
  .activity_cards {
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 85rem;
  }
  .activity_cards figure {
    height: 95%;
  }
  .activity_cards img {
    height: 73%;
  }
  .activity_cards figcaption {
    padding-top: 0.8rem;
    margin-top: -0.5rem;
  }
  .vieux_port,
  .calanques {
    width: 100%;
    height: 12.5rem;
  }
  .left_2 {
    width: 100%;
    height: 27rem;
  }
  .right_2 {
    width: 100%;
    height: 27rem;
  }
  .pomegues,
  .frioul {
    width: 100%;
    height: 12.5rem;
  }
  .notre_dame,
  .longchamp {
    width: 100%;
    height: 12.5rem;
  }

  footer nav {
    width: 90%;
    flex-direction: column;
  }
}
